@import "lesshat";
.ripple {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  border: 5px solid white;
  position: absolute;
  left: 50%;
  transform: scale(.7);
  display: none;
}
.ripple.active {
  display: block;
  animation: ripple .4s ease-out forwards;
}
@keyframes ripple {
  from {
    transform: scale(.5);
    opacity: 1;
  }
  to {
    transform: scale(1);
    opacity: 0;
  }
}
.box{
  
  width: 100px;
  height:100px;
  position:absolute;
  top: -150px;
  transition: transform 1.5s linear;
  cursor: pointer;
  z-index:100;
}

.move{
   transform:translateY(120vh);
}
#itemList{
	padding: 7px 15px 7px 15px;
	columns: 3;
  column-gap: 10px;
	list-style-type: none;
	position: absolute;
	left: 4%;
	top: 2%;
	max-height:15%;
	max-width:25%;
	font-size:30px;
	font-size:15px;
	text-align: center;
  z-index:10;
  background-color: rgba(25,10,25,0.5);
  border-radius: 40%;
}
