@import "lesshat";
.ripple {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  border: 5px solid white;
  position: absolute;
  left: 50%;
  transform: scale(.1);
  display: none;
}
.ripple.active {
  display: block;
  animation: ripple .4s ease-out forwards;
}
@keyframes ripple {
  from {
    transform: scale(.1);
    opacity: 1;
  }
  to {
    transform: scale(1);
    opacity: 0;
  }
}
.fade{
  position: absolute;
  font-size:20px;
  font-weight: bold;
}
.green{
  filter: drop-shadow(2px 2px 2px rgba(173,255,47,0.3))drop-shadow(-2px 2px 2px rgba(173,255,47,0.3))
         drop-shadow(2px -2px 2px rgba(173,255,47,0.3))drop-shadow(-2px -2px 2px rgba(173,255,47,0.3));
}
.fade.active {
  display: block;
  animation: fade 2s ease-out forwards;
}
@keyframes fade {
  0%{
    opacity: 1;
    transform: translate(0px, -100px);
  } 
  50% { 
      transform: translate(-50px, -200px);
  }
  100% { 
    opacity: 0;
    transform: translate(+50px, +100px);
  }
}
#itemList{
	padding: 5px 30px 5px 30px;
	columns: 3;
  column-gap: 15px;
	list-style-type: none;
	position: absolute;
	left: 5%;
	top: 2%;
	max-height:15%;
	max-width:30%;
	font-size:30px;
	font-size:15px;
	text-align: center;
  z-index:10;
  background-color: rgba(25,10,25,0.5);
  border-radius: 40%;
}
 #itemList img, .red{
  filter: drop-shadow(2px 2px 2px rgba(255,0,0,0.3))drop-shadow(-2px 2px 2px rgba(255,0,0,0.3))
         drop-shadow(2px -2px 2px rgba(255,0,0,0.3))drop-shadow(-2px -2px 2px rgba(255,0,0,0.3));
}
.start{
  cursor: auto !important;
}
.item{
  padding:0;
  margin:0;
  position: absolute;
  border: solid 1px black;
}
#basket{
    border: solid 1px black;
    padding:0;
    margin:0;
}
#stuff{
  top:2%;bottom:-400px;right:0%;left:0%;
  padding:0; margin:0; 
}
#scoreVal{
  background-color: rgba(25,10,25,0.5);
	border: black;
	position: absolute;
	right:21%;
	top: 8%;
	border-radius: 40%;
	text-align: center;
	padding: 4px 15px 4px 15px;
	font-weight:bolder;
	font-size: 35px;
	
	color: white;
	z-index:10;
}