body{
margin: px;
padding: 0px;
font-family: quicksand;
background-image: url("pg.jpg");
background-size: cover;
background-repeat: no-repeat;
}

.tnav{
  background-color: black;
   position: fixed;
   padding: 10px 100px;
   top:0px;
   left: 0px;
    width: 100%;
    height:100px;
    box-sizing: border-box;
    
   opacity: 0.9;
     
    
    
}
  .tul{
    list-style: none;
     float:right;
      padding: 0;
      display: flex;
      margin: 0;
  }
 
.tlist{
       list-style: none;
}
  #log{
  background-color: orangered;  
  color: white;
  border-radius: 6px;

}
 
  .tlist a{
  line-height: 80px;
  list-style: none;
 color: white;
 padding: 15px 40px;
 text-transform: uppercase;
 text-decoration: none;
    }
a:focus{

  outline: none;
}

#title{
float: left;
line-height: 80px;
list-style: none;
 color: white;
 top: 80px;
 text-transform: uppercase;
 text-decoration: none;
 text-shadow: 3px 2px orangered;
 font-size: 50px;

 }
